*{
    margin: 0;
}

body{
    display: flex;
    background-image: url(/img/oceanicus.jpg);
}

.startsida{
    display: grid;
    grid-template-areas: 
    'he he he he he'
    'as di di di di'
    'as di di di di'
    'as di di di di'
    'as di di di di'
    'fo fo fo fo fo'
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    height: 1000px;
    width: 100vw;
}

.menu{
    display: grid;
    grid-template-areas: 
    'he he'
    'bo bo'
    'bo bo'
    ;
    grid-template-columns: 100vw;
    grid-template-rows: 50px 1fr 1fr;
    height: 1000px;
    width: 100vh;
}

.header{
    grid-area: he;
    background-image: url(/img/oceanifloor.jpg);
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.aside{
    grid-area: as;
    background-color: rgb(255, 255, 92);
    border-radius: 20px;
}

.megagrid{
    grid-area: di;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 367px 1fr;
    grid-template-areas:
    'tx1 bil'
    'box tx2'
    ;
    
}

.gronbox{
    grid-area: box;
   
    display:grid;
    grid-template-areas: 
    'dig sig'
    'gro gro'
    ;
}

.footer{
    grid-area: fo;
    display: flex;
    justify-content: center;
    background-image: url(/img/realicus-567.jpg);
}

.text1{
    grid-area: tx1;
   
    height: 367px;

}

.text2{
    grid-area: tx2;
   
    
}

.bild{
    grid-area: bil;
}

.merk{
height: 367px;
width: 550px;
}

h1{
    margin-top: 50px;
    margin-left: 5px;
    color: rgb(0, 0, 153);
}

h2{
    font-size: 40px;
    color: yellow;
}

h3{
    margin: 30px;
    color: yellow;
}

h4{
    font-size: 30px;
    color: yellow;
}

h5{
    color: none;
    font-size: 40px;
    margin-top: 65px;
    margin-left: 35px;
}

.boxbox{
    grid-area: gro;
    background-color:rgb(30, 190, 102);
    display: flex;
    justify-content: center;
    border-radius: 100px;
    padding: 50px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.kopnu{
    grid-area: dig;
    padding-top: 50px;
    margin-left: 10px;
}

.rea{
    grid-area: sig;
    height: 200px;
}

.box{
    grid-area: bo;
    margin: 100px;
    display: grid;
    grid-template-areas: 
    'sil sil kop'
    'rat rat rat'
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 100px;
}

.sill{
    grid-area: sil;
    width: 750px;

}

.rating{
    margin-left: 50px;
    margin-top: 50px;
    grid-area: rat;
    width: 1000px;
}

.circle{
    display: flex;
    border-radius: 100px;
    background-color: green;
    height: 200px;
    width: 200px;
    margin-left: 80px;
    ;
}

.thankyou{
    display: flex;
    margin-left: 375px;
    margin-top: 300px;
}

.varningbox{
    display: grid;
    grid-template-areas: 
    'varning'
    ;
    margin-top: 50px;
}